* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* reset css */

.clear {
    clear: both;
}

.cover {
    background-image: linear-gradient(purple, pink);
    min-height: 100vh;
}

.coverDiv {
    width: 70%;
    float: right;
    padding: 35px;
}

h1 {
    text-align: center;
    padding: 15px 0;
    color: rgb(59, 191, 169);
}

p {
    font-size: 25px;
    color: var(--clr);
    text-align: center;
}

.picture {
    float: left;
    width: 30%;
    padding: 35px;
}

.picture > img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.linkfb > a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.linkfb {
    width: 100%;
    text-align: center;
}
